.book-title{
    font-size: 350%;
    font-weight: 400;
    text-align: left;

}

.book-author{
    text-align: left;
    font-size: 200%;
    top: 280px;

}

.book-detail-page{
    padding: 2rem;
}

.book-genre{
    text-align: left;
    font-size: 200%;

}

.book-image{
    width:70%;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.book-synopsis{
    font-size: 200%;
}