h1{
    text-align: center;   
}

.bg{
    text-align: center;  
    font-size: 1.3rem;
   
    margin-top: -0.6rem; 
}
.find {
    max-width: 1040px;
    margin: auto;
  }
  
  .heading h1 {
    font-size: 4rem;
    text-align: center;
    padding: 2rem;
  }
  
  .heading p {
    text-align: center;
  }
  
  
  .slider_container {
    padding: 5rem 0;
    height: 150%;
    width: 150%;
  }
  
  
  .card {
    margin: .5rem;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  
  .card img {
  
    width: 150%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 220%;
    object-fit: cover;
  }
  
  .card p {
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
  }
  
  
  
  @media screen and (max-width: 1500px) {
    .card {
      width: 100%;
    }
  }
  
  .swiper-container {
    width: 480px;
  }
  
  @media screen and (min-width: 640px) {
    .swiper-container {
      width: 1640px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .swiper-container {
      width: 1768px;
    }
  }